.otp .navbar {
  border-radius: 0;
  background-color: #444;
  margin: 0px;
}

.otp .navbar .container {
  margin-left: 0;
}

.otp .navbar-brand {
  padding: 7px 10px;
}

.otp .navbar-title {
  color: #fff;
  font-size: 24px;
  padding-top: 7px;
}

.otp.mobile .navbar-title {
  padding-top: 2px;
}

.main-row {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px 15px;
}

/* Necessary for defining the height in the main panel nested elements. */
.main-row main {
  height: 100%;
}

.sidebar {
  height: 84vh;
  padding: 30px;
  box-shadow: 3px 0px 12px #00000052;
  z-index: 1000;
  width: 18%;
  min-width: 400px;
  position: absolute;
  background: #000;
  border-radius: 10px;
  top: 210px;
  left: 100px;
  padding-bottom: 30px;
  padding-top: 90px;
  margin-top: -20px;
}


.sidebar-header {
  position: absolute;
  background: black;
  width: 18%;
  min-width: 350px;
  height: 95px;
  z-index: 99999;
  top: 80px;
  left: 90px;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 27px;
  color: white;
}

.map-container {
  width:100vw;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.light{font-family: 'Brown-Light';letter-spacing: 2px;}
.bold{letter-spacing: 2px;font-family: 'Brown-Bold';}

.layers-list{display:none !important;}

.otp .navbar{display:none;}
canvas{width:100vw;height:100vh}

.mapboxgl-ctrl-attrib{display:none !important;}

.logo-neom{float:left;}

.text-sidebar-header{float:left;}

.logo-neom img {
  width: 41px;
  margin-right: 30px;
}
.mapboxgl-popup-content p:first-of-type{display:none;}

span.batch-routing-panel-location-fields input {
  background: black;
  color: white;
  font-size: 26px;
  margin-left: -41px;
}

.batch-routing-panel-location-fields:before{
  content:'';
  display:block;
  width:80px;
  border-bottom:1px solid #999;
  height:1px;
  margin-bottom:30px
}
.batch-routing-panel-location-fields:after{
  content:'';
  display:block;
  width:80px;
  border-bottom:1px solid #999;
  height:1px;
  margin-bottom:50px;
  margin-top: -10px;
}

.location-fields-from:before {
  content: 'From';
  display: block;
  color: #636363;
  width: 100%;
  font-size: 12px;
  position: absolute;
  margin-top: -10px;
}

.location-fields-to:before {
  content: 'To';
  display: block;
  color: #636363;
  width: 100%;
  font-size: 12px;
  position: absolute;
  margin-top: -10px;
}

.location-to{margin-top:25px;}

.location-fields-from button:first-of-type(svg), .location-fields-to button:first-of-type(svg) {
 display: none;
}

.otp .option.metro-itin div.header .itin-wrapper, .otp .option.metro-itin div.header .itin-wrapper-small {
  background: #fffffff8;
  overflow: hidden;
  transition: all 0.075s ease-out;
  border-radius: 10px;
  margin-bottom: 10px;
}

.itin-wrapper ul{width:100%;}

.form fieldset div{width:120px;font-size: 12px;}
.form fieldset h4 {
  font-size: 16px;
  color: gold;
  margin: 0;
}



button#button-premium{margin-top:40px;}

button#button-premium[aria-pressed="false"] {
  width: 150px;
  display: inline-block;
  flex: unset;
  float: left;
  left: 0;
  background-color: transparent;
  border: 2px solid #444;
  border-radius: 7px;
  height: 40px;

}
button#button-premium[aria-pressed="false"] h4 {
  color:#444;

}

button#button-premium[aria-pressed="true"] {
  width: 150px;
  display: inline-block;
  flex: unset;
  float: left;
  left: 0;
  background-color: gold;
  border: 2px solid gold;
  border-radius: 7px;
  height: 40px;

}
button#button-premium[aria-pressed="true"] h4 {
  color:black;

}

.premium-selected {
  width: 100%;
  height: 100%;
  color: transparent !important;
  background: rgba(0,128,0,0.4);
  top: 0;
  border-radius: 7px;
  right: 0;

  display:none !important;
}

.switch-button{display:none;}

button#plan-trip {
  width: 50px;
  float: right;
  position: absolute;
  right: 40px;
  margin-top: -50px;
  background-color: #fff;
  color: #000;
}

select.sort-accordion {
  background: #000;
  border: 0;
  border-bottom: 1px solid #ccc;
  color: white;
}

#itinerary-menu .itin-grid{padding-top:30px;}
#itinerary-menu .expanded .itin-grid {
  padding-top: 20px;
  padding-bottom: 0;
}
#itinerary-menu .expanded .itin-grid .itin-duration {
margin-top:15px;
}

#itinerary-menu li.result {
  position: relative;
}
.clear-button-formatting {
  color: white;
  width: 100%;
  text-align: right;
  margin-left: -16px;
  margin-top:40px;
}

.otp .option.metro-itin.expanded:first-of-type div.header .itin-wrapper {
  border-bottom: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  cursor: auto;
  border-radius: 10px;
}

.otp .option.metro-itin.expanded li div:nth-of-type(3){
display: none;
}

.itin-duration{color:#000 !important; margin-top:5px;}
.itin-departures{display:none;}

.trip-details-time{display:none;}

.route-block-wrapper footer{display:none;}
.route-block-wrapper span:nth-of-type(2){display:none;}

body {
  font-family: 'Brown-Regular',"Helvetica Neue",Helvetica,Arial,sans-serif  !important;
  background-color: #000;
}

html{background-color: #000;}

/*
.option.metro-itin li span span svg {filter:invert(1)}
*/
.desktop-narrative-container .false .result .expanded .itin-wrapper {
  width: 97%;
}

.otp .options > .list::-webkit-scrollbar {
  width: 5px;
}


.mapboxgl-map, .maplibregl-map {
  font: 12px/20px 'Brown-Regular',Arial,Helvetica,sans-serif;
}

.mapboxgl-popup-content, .maplibregl-popup-content {
  border-radius: 10px;
}

.mapboxgl-popup-close-button, .maplibregl-popup-close-button {
  font-size: 20px;
}

.btn-settings, .btn-date-time{display: none;}

.otp .user-settings {
  display:none !important;
}

#trip-details-header{display:none;}

.trip-details-body div[role=group] {
  width:33.33%;
  float:left;
}

.trip-details-distance strong,.trip-details-duration strong,.trip-details-speed strong{display: block;font-size:28px;margin-top:5px;}

.trip-details-body {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  color:#000;
  width: 100%;
}


.location-from:before {
  content: 'From';
  display: block;
  color: #444;
  position: absolute;
  margin-top: -18px;
  font-size: 18px;
}

.location-to:before {
  content: 'To';
  display: block;
  color: #444;
  position: absolute;
  margin-top: -18px;
  font-size: 18px;
}


#plan-trip{display: none;}

.otp .option.metro-itin .itin-wrapper .itin-duration {
  min-width: 140px;
  
}

.otp .option.metro-itin .itin-wrapper .itin-modes {
  flex-grow: 1;
}

.otp .option.metro-itin .itin-wrapper .itin-modes svg+svg {
  margin-left: 5px;
}

.otp .option.metro-itin .itin-wrapper .itin-duration .itin-duration-time {
  font-family: 'Brown-Bold';
  margin-top:10px !important;
}

.options.header select{
  background: transparent;
  color:white;
  border: 0px solid;
  border-bottom: 1px solid white;
}


.otp .options > .header {
  
  margin-bottom: 40px;
}

.desktop-narrative-container{margin-top:-95px;}

span.sustainability-value {
  font-size: 16px;
  display: inline-block;
  margin-left: 10px;
  line-height: 14px;
  vertical-align: 0px;
}

span.sustainability-units {
  font-size: 8px;
  display: block;
}

.itin-sustainability-content {
  padding-top: 8px;
}


.trip-tools-container{display: none;}

.select-route{display: none;}
.radios-route-container{width:567px;margin-top:-10px;}
.radios-route-container::before {
  content:'Sort By';
  display:block;
  color:#888;
  margin-bottom:10px;
  margin-left:2px;
}
.radio-route {
  float: left;
  margin: 0 0px 0 5px;
  width: 140px;
  height: 45px;
  position: relative;
  text-align: center;
  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 0px;
}
.radio-route h4{font-size: 16px;}

.radio-route label,
.radio-route input {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.radio-route input[type="radio"] {
  opacity: 0;
  z-index: 100;
  -webkit-appearance: button;
    cursor: pointer;
  
}
.radio-route input[type="radio"] + label {
  background: #444;
  border-radius: 7px;
  color:#888;

}

.radio-route input[type="radio"]:checked + label {
  background: white;
  color:black;
  border-radius: 7px;
  
}

.radio-route label {
  z-index: 90;
  padding-top:2px;
  line-height: 45px;
  
}

.order-change-button{margin-top: 10px;}

